body{
  background: #F8F9FA;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:#666;
}
h1{
  margin:0 0 10px;
  line-height: 60px;
  padding: 0 10px;
  font-weight:normal;
  font-size: 1.2em;
  border-bottom: 1px solid #CCC;
}
h1 .timedButton{
  float: right;
}
h1 .timedButton button{
  height:40px;
  margin:10px 0 0 10px;
  width:100px;
  border-radius: 3px;
  background: #FFF;
  background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  border:1px solid #CCC;
  cursor: pointer;
}
h1 .timedButton button:disabled{
  background: linear-gradient(to bottom, #e5e5e5 0%,#FFF 100%);
  color:#CCC;
  cursor: not-allowed;
}
h1 .timedButton span{
  font-size: 0.7em;
}
.panel{
  margin:10px 0 10px 10px;
  background: #FFF;
  min-height:calc(100vh - 92px);
  box-shadow: 1px 1px 1px #CCC;
}
.panel p{
  padding: 0 20px;
  font-size: 0.9em;
}
.left{
  float:left;
  width:calc(20% - 10px);
}
.left.main{
  width: calc(60% - 18px);
}
h2{
  margin:0;
  border-bottom:1px solid #DDD;
  line-height: 40px;
  font-size: 1em;
  font-weight: normal;
  padding:0 10px;
  position: relative;
}
h2 span{
  padding-left:10px;
  border-left: 1px solid #CCC;
  margin-left: 10px;
}
.property:before{
  width:90%;
  line-height: 40px;
  content:attr(data-name);
  padding:0 0 0 20px;
  font-weight: normal;
  position: absolute;
  left:0;
  top:0;
}

.prop{
  position: relative;
}
.prop svg{
  color: #4CAF50;
  position: absolute;
  top:0px;
  right:10px;
  z-index: 2;
  cursor:pointer;
  height: calc(1em + 24px);
  line-height: calc(1em + 24px);
}
.prop.closed .fa-chevron-circle-up{
  display: none;
}

.prop .fa-chevron-circle-up{
  display: block;
  color: #F44336;
}

.prop .fa-chevron-circle-down{
  display: none;
}
.prop.closed .fa-chevron-circle-down{
  display: block;
}

.vis{
  box-shadow: 0px 0px 2px #CCC;
  margin:10px 0 0 10px;
  position: relative;
  display: inline-block;
  border-radius: 6px;
}
.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  line-height: 200px;
  text-align: center;
  background: #00000000;
  font-size: 3em;
  color: #FFF;
  transition: background 200ms;
}
.overlay svg{
  margin:0 10px;
  cursor: pointer;
  transition: all 200ms;
  opacity: 0;
}
svg *{
  pointer-events: none;
}
.overlay svg:hover{
  color:#FFB604;
}
.overlay svg.selected{
  position: absolute;
  bottom:25px;
  right: 0px;
  opacity: 1;
  color:#3F51B5;
  font-size: 0.5em;
}
.overlay:hover svg.selected{
  position: static;
  bottom: auto;
  right: auto;
  font-size: 1em;
  color:#FFB604;
}
.vis:hover .overlay{
  background:#00000055;
}
.vis:hover .overlay svg{
  opacity: 1;
}
.geneBuilder svg{
  font-size: 1.5em;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: #FF9800
}


.property, .gene{
  list-style-type: none;
  margin:0;
  padding:0;
  background: #E9EAEA;
  margin:5px;
  position: relative;
}
.property{
  padding-top:40px;
  padding-bottom:5px;
  font-size: 0.9em;
  text-transform: capitalize;
}
.property li, .gene li{
  width:calc(100% - 38px);
  margin: 5px 5px 0;
  padding:10px;
  text-align: left;
  border-left:8px solid #DDD;
  cursor:pointer;
  background-color: #FFF;
}
.gene li{
  margin:0;
}
.closed .property{
  overflow:hidden;
  height:0px;
  color:#888;
  padding-bottom:0;
}
.gene{
  height:30px;
  margin:7px;
  position: relative;
  padding:40px 10px 0px;
}
.gene li{
  position: absolute;
  overflow: visible;
}

.gene li:before{
  content:attr(data-value);
  color:#333;
  position: absolute;
  top:0px;
  left:0px;
  text-indent: 0;
  font-size: 0.5em;

  /* background: #404040; */
  padding: 5px;
  height:15px;
  overflow: hidden;
}
.gene li.path_mode:before{
  content:"path: " attr(data-value);
  top:5px;
  left:5px;
  font-size: 0.8em;
  border-radius: 0px;
  line-height: 15px;
  height:15px;
  font-weight: bold;
  overflow: hidden;
}

.gene li:after{
  content:attr(data-prop);
  color:#333;
  position: absolute;
  left:0px;
  top:-2px;
  text-indent: 0;
  font-size: 0.5em;
  font-weight: bold;
  /* background: #404040; */
  padding: 5px;
  line-height: 1
}
.gene li.path_mode:after{
  display: none;
}

.vis .gene{
  height: 4px;
}
.gene.open{
  height:calc(calc(1em + 23px) * 5);
}
.gene li{
  width:calc(23% - 5px);
  padding:5px 0 0;
  border:0;
  height:17px;
  line-height: 20px;
  cursor:pointer;
  float: left;
  text-indent: -9999px;
  margin-right:2%;
  border-radius: 0px;
  /* box-shadow: 0px 0px 2px #000; */
}
.gene li.path_mode{
  left:0px !important;
  top:0px;
  padding:0;
  width:90%;
  height:100%;
  z-index: 1;
  margin:0;
  box-shadow:none;
  background: #E9EAEA;
  border-width: 5px;
}
.gene li.config{
  top:2px;
  right: 0px;
  left:auto !important;
  bottom: auto;
}
.gene.open{
  padding: 5px;
  height: auto;
}
.gene.open li{
  width: calc(100% - 38px);
  margin: 0;
  padding: 10px;
  text-align: center;
  border-left: 8px solid #DDD;
  cursor: pointer;
  background-color: #FFF;
  float: none;
  text-indent: 0;
  height: auto;
  position: static;
  left: auto!important;
  right: auto!important;
  /* border: 0; */
  box-shadow: none;
  border-radius: 0px;
  background: #FFF!important;
  margin: 5px;
}

.gene.open li:before, .gene.open li:after, .vis .gene li:before, .vis .gene li:after{
  display: none;
}
.gene svg{
  position: absolute;
  z-index: 4;
  color: #000;
  right: 0;
  top: 5px;
  right: 10px;
  width: 13px !important;
  opacity: 0;
  transition: opacity 200ms;
}
.gene svg.fa-copy{
  right:28px;
}
.gene:hover svg{
  opacity: 1;
}
.vis .gene{
  padding:10px;
}
#debug{
  display: none;
}
.showPath #debug{
  display: block;
}
#debug circle{
  fill:#FF000055;

}
#debug line{
  stroke:#FF000055;
}
.step{
  font-weight: bold;
}
