.gene li.color1{
  background: #009688;
}
.gene li.color2{
  background: #E91E63;
}
.gene li.color3{
  background: #9C27B0;
}
.gene li.color4{
  background: #FFC107;
}
.gene li.color5{
  background: #3F51B5;
}
.gene li.color6{
  background: #4CAF50;
}
.gene li.color13{
  background: #673AB7;
}
.gene li.color8{
  background: #FFEB3B;
}
.gene li.color9{
  background: #CDDC39;
}
.gene li.color10{
  background: #FF5722;
}
.gene li.color11{
  background: #00BCD4;
}
.gene li.color12{
  background: #f44336;
}
.gene li.color15{
  background: #FF9800;
}
.gene li.color7{
  background: #2196F3;
}
.gene li.color14{
  background: #009688;
}

.gene li.color8:before, .gene li.color8:after,
.gene li.color4:before, .gene li.color4:after,
.gene li.color6:before, .gene li.color6:after,
.gene li.color11:before, .gene li.color11:after{
  color: #000!important;
}

.gene.open li.color1{
  background: 0;
  border-left-color:#009688;
}
.gene.open li.color2{
  background: 0;
  border-left-color:#E91E63;
}
.gene.open li.color3{
  background: 0;
  border-left-color:#9C27B0;
}
.gene.open li.color4{
  background: 0;
  border-left-color:#FFC107;
}
.gene.open li.color5{
  background: 0;
  border-left-color:#3F51B5;
}
.gene.open li.color6{
  background: 0;
  border-left-color:#4CAF50;
}
.gene.open li.color8{
  background: 0;
  border-left-color:#FFEB3B;
}
.gene.open li.color13{
  background: 0;
  border-left-color:#673AB7;
}
.gene.open li.color9{
  background: 0;
  border-left-color:#CDDC39;
}
.gene.open li.color10{
  background: 0;
  border-left-color:#FF5722;
}
.gene.open li.color11{
  background: 0;
  border-left-color:#00BCD4;
}
.gene.open li.color12{
  background: 0;
  border-left-color:#f44336;
}
.gene.open li.color15{
  background: 0;
  border-left-color:#FF9800;
}
.gene.open li.color7{
  background: 0;
  border-left-color:#2196F3;
}
.gene.open li.color14{
  background: 0;
  border-left-color:#009688;
}


.property li.color1{
  border-left-color: #009688;
}
.property li.color2{
  border-left-color: #E91E63;
}
.property li.color3{
  border-left-color: #9C27B0;
}
.property li.color4{
  border-left-color: #FFC107;
}
.property li.color5{
  border-left-color: #3F51B5;
}
.property li.color6{
  border-left-color: #4CAF50;
}
.property li.color8{
  border-left-color: #FFEB3B;
}
.property li.color13{
  border-left-color: #673AB7;
}
.property li.color9{
  border-left-color: #CDDC39;
}
.property li.color10{
  border-left-color: #FF5722;
}
.property li.color11{
  border-left-color: #00BCD4;
}
.property li.color12{
  border-left-color: #f44336;
}
.property li.color15{
  border-left-color: #FF9800;
}
.property li.color7{
  border-left-color: #2196F3;
}
.property li.color14{
  border-left-color: #009688;
}
